*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: #1d273b;
    font-weight: 300;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1{
    font-size: 50px;
}

/* HEADER */
header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed; /* se que estatico este objeto */
    top: 0;
    z-index: 100;
    /* transition: ease-in-out .5s; */
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0px 40px;
}
.nav .logo{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}
.nav .logo img{
    width: 20%;
    height: 80%;
    border-radius: 10%;
}

.enlaces-header{
    font-weight: 300;
    transition: ease-in-out .5s;
}
.nav .enlaces-header a{
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}
.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}
.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.contenido-header>img{
    width: 350px;
    border-radius: 10%;
    box-shadow: 10px 15px 20px 0px rgba(0,0,0,.6);
    animation: ease-in animat 1s;
}

@keyframes animat { /* animation of image */
    0%{
        transform: scale(0); /* rotateY(0deg); */
    }100%{
        transform: scale(1); /*  rotateY(360deg); aumenta el tamano de la imagen */
    }
}

.textos-header{
    margin: 0 0 0 30px;
    align-items: center;
    padding: 30px;
}
.textos-header h2, .textos-header h1{
   /*  font-size: 20px; */
}
.contenido-header p{
    font-weight: 100;
    margin-bottom: 14px;
    color: #5D6678;
}

.contenido-header a{
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    text-decoration: none;
    background-color: #1fde82;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 12px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0px 8px 32px rgba(31,222,130,.46);
    transition: all 1s;
}

.contenido-header a:hover{
    background-color: #000000;
    color: #f2ff00;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.46);
}

.titulo{
    font-size: 50px;
}

/* About us */
.about-us{
    background: #f2f2f2;
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;/* espacio entre los 3 */
}
.articulo{
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px /* arriba */ 30px /* derecha */ 60px /* abajo */ 30px /*left*/;
    transition: 0.5s;
}

.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i{
    font-size: 30px;
    color: #fff;
    background: #1fde82;
    display: inline-block;
    width: 60px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
    box-shadow: 0px 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3{
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a{
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover{
    color: #1fde82;
    transition: color .5s;
}

/* Questions */
.questions{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img{
    width: 550px;
    animation: ease-in animat 1s;
}

.textos-questions{
    margin: 0 0 0 30px;
}
.textos-questions p{
    font-weight: 100;
    margin-bottom: 14px;
    color: #5D6678;
}

.textos-questions a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    text-decoration: none;
    background-color: #1fde82;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 12px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0px 8px 32px rgba(31,222,130,.46);
}

/* RESULTS */
.results{
    background: #2560ff;
    padding-top: 30px;
}

.content-results{
    display: flex;
    justify-content: space-evenly;
}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px /* arriba y abajo */ 35px /* lados */;
    margin-bottom: 20px;
}

.numbers .number h4{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
}

.result-text{
    width: 37%;
}

.result-text h4{
    color: #fff;
    font-size: 40px;
}

.result-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.result-text a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
   text-align: center; 
   border-radius: 5px;
}

/* SERVICES */
.services{
    display: flex;
    justify-content: space-between;
}
.services>img{
    width: 500px;
}
.box-skills{
    margin: 30px 30px 0 0;   
}

.box-skills h4{
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i{
    color: #1fde82;
    font-size: 20px;
}

/* FOOTER */
footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter h4{
    color: #1d273d;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter img{
    width: 70%;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover{
    color: #1fde82;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #1fde82;
    border-color: #1fde82;

}

/* BREAKPOINTS RESPONSIVE */
@media screen and (max-width:800px) {
    .titulo{
        font-size: 45px;
    }
    .contenido-header{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 720px;
    }
    .contenido-header>img{
        width: 400px;
    }
    .textos-header{
        margin: 0;
    }

    /* ABOUT US */
    .articulo{
        width: 45%;
    }

    /* QUESTIONS */
    .questions{
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .questions>img{
        width: 400px;
    }

    /* RESULTS */
    .content-results{
        flex-direction: column-reverse;
    }
    .result-text>A{
        margin-bottom: 60px;
    }
    .numbers{
        width: 100%;
        justify-content: space-between;
    }
    .result-text{
        width: 100%
    }

    /* SERVICES */
    .services{
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-skills{
        margin: 0 0 40px 0;
    }
    .box-skills h4{
        width: 500px;
    }
    .services>img{
        width: 400px;
    }

    /* FOOTER */
    footer{
        justify-content: space-evenly;
    }
    .partFooter{
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 600px) {
    .titulo{
        font-size: 35px;
    }
    h1{
        font-size: 40px;
    }
    .contenido-header{
        height: 650px;
    }
    .nav{
        padding: 0 10px;
    }
    .contenido-header>img{
        width: 130px;
    }
    .enlaces-header{
        /* display: none; */
        position: fixed;
        background: #36D1DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        /* clip-path: circle(50% at 50% 50%); */
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos{
        clip-path: circle(141.2% at 100% 0);
    }

    .nav .enlaces-header a{
        color: #fff;
    }
    .hamburguer{
        display: block;
    }

    .nav .logo img{
        width: 65px;
        margin-left: 25px;
        display: block;
    }

    /* ABOUT US */
    .articulo{
        width: 95%;
    }

    /* QUESTIONS */
    .questions>img{
        width: 200px;
    }

    /* RESULTS */
    .numbers .number{
        width: 95%;
    }
    .result-text h4{
        font-size: 35px;
    }

    /* SERVICES */
    .services>img{
        width: 200px;
    }
    .box-skills h4{
        width: 100%;
        padding-left: 6px;
    }

    /* FOOTER */
    .partFooter{
        width: 95px;
        margin-bottom: 40px;
    }

    /* SLIDER */

    section.contenido-slider{
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
 
    section.contenido-slider>img{
        width: 200px;
    }

    section.contenido-slider h2{
        font-size: 25px !important;
    }
}

/* SLIDER */
:root{
    --color-dark: #18191d;
    --color-light: #ffffff;
    --gold: #ded3cd;
}



.carousel-inner{
    /* fallback for old browsers */
   /*  background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(217deg,rgba(255, 255, 0, 1),rgba(0, 0, 0, .2));/* rgba(0, 0, 0, 0) 70.71%);/* #fff700, #fdfdfd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor-slider{
    width: 100%;
    max-width: 100%;
}

.contenido-slider{
    margin-top: -9px;
    height: 600px;
    display: flex;    
    align-items: center;
}

.contenido-slider>img{
    width: 100%;
    height: 80vh;
    top: 0;
    /* border-radius: 10%; */
   /*  box-shadow: 10px 15px 20px 0px rgba(0,0,0,.6); */
    animation: ease-in animat 1.4s;
    background-color: blue;
}

.vertical-align{
    top:50%;
    /* text-align: right !important; */
}

.contenedor-slider h2{
    width: 30%;
    font-size: 50px !important;
    font-weight: 300;
    color: rgb(0, 0, 0);
    /* text-shadow: 10px 10px 10px rgba(0,0,0,.6); */
    text-shadow: 0 12px 10px rgba(0,0,0,.8);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    left: 0%;
    /* font: 400 80px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 9px 0 #41330a; */   
    /* -webkit-animation: animacion 2s ease-out;
    -moz-animation: animacion 2s ease-out;
    -ms-animation: animacion 2s ease-out;
    -o-animation: animacion 2s ease-out;
    animation: animacion 2s ease-out; */

    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
@keyframes intro {
    0% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0; }
  }

@-webkit-keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }

