*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 80%;
    background-attachment: fixed;
    
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: #1d273b;
    font-weight: 300;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
}

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1{
    font-size: 50px;
}

/* HEADER */
header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed; /* se que estatico este objeto */
    top: 0;
    z-index: 100;
    /* transition: ease-in-out .5s; */
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0px 40px;
}
.nav .logo{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}
.nav .logo img{
    width: 20%;
    height: 80%;
    border-radius: 10%;
}

.enlaces-header{
    
    font-weight: 300;
    transition: ease-in-out .5s;
}
.nav .enlaces-header a{
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}
.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}
.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.contenido-header>img{
    width: 350px;
    border-radius: 10%;
    box-shadow: 10px 15px 20px 0px rgba(0,0,0,.6);
    animation: ease-in animat 1s;
}



.textos-header{
    margin: 0 10px 0 30px;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(15, 15, 15,0.6);
    border-radius: 10%;
    
}
.textos-header h2, .textos-header h1{
   /*  font-size: 20px; */
   color: rgb(255, 242, 0);
   text-shadow: 0 5px 5px rgba(28, 25, 25, 0.8);
   /* animation: changed 4s infinite alternate linear; */
}

.textos-header p{
    font-weight: bold;
    color: rgb(248, 248, 248) !important;
    text-shadow: 0 5px 5px rgba(28, 25, 25, 0.8);
}

/* .textos-inicio a{
    margin: px 0 0 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    background-color: #1fde82;
    border-radius: 100%;
    text-align: center;
    color: white;
    padding: 0px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 25px !important;
    box-shadow: 0px 8px 32px rgba(31,222,130,.46);
    transition: all 1s;
    animation: changed_button 1.5s infinite alternate linear;
}
 */
@keyframes animat { /* animation of image */
    0%{
        transform: scale(0); /* rotateY(0deg); */
    }100%{
        transform: scale(1); /*  rotateY(360deg); aumenta el tamano de la imagen */
    }
}

.contenido-header p, .textos-header h6{
    font-weight: bold;
    margin-bottom: 14px;
    color: #ffffff;
}

.contenido-header a{
    margin: 28px 0 0 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    background-color: #1fde82;
    border-radius: 100%;
    text-align: center;
    color: white;
    padding: 12px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    box-shadow: 0px 8px 32px rgba(31,222,130,.46);
    transition: all 1s;
    animation: changed_button 1.5s infinite alternate linear;
}

.contactanos{
    color: rgb(14, 225, 7);
}

@keyframes changed_button{
    from { transform: translate3d(0, 5px, 0);}
    to { transform: translate3d(0, 9px, 0);}
}

.contenido-header a:hover{
    background-color: #000000;
    color: #f2ff00;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.46);
}


.titulo{
    font-size: 50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.46);
    margin-left: -300px;
    /* transition: all 1s ease-in-out; */
}

.titulo_servicios{
    margin-left: 0;
    transition: all 2s ease-in-out;
}

/* INICIO */

.inicio{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio>img{
    width: 400px;
    height: 400px;
    padding: 50px;
    border-radius: 20%;
    animation: ease-in animat 1s;
}

.textos-inicio{
    margin: 0 0 0 30px;
}
.textos-inicio p{
    font-weight: 100;
    margin-bottom: 14px;
    color: #fff !important;
}

.textos-inicio a{
    margin: 5px;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    text-align: center;
    color: rgb(14, 225, 7);
    padding: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 40px !important;
    transition: all 1s;
    animation: changed_button 1.5s infinite alternate linear;
    transform: scale(0);
}


.textos-inicio a:hover{
    color: #f2ff00;
    font-size: 45px !important;
    transition: all 1.5s;
}


/* About us */
.about-us{
    /* background: #f2f2f2; */
    background: ghostwhite;
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;/* espacio entre los 3 */
}
.articulo{
    width: 29%;
    margin-bottom: 30px;
    border-top-left-radius: 58px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 58px;
    padding: 45px /* arriba */ 30px /* derecha */ 60px /* abajo */ 30px /*left*/;
    /* box-shadow: 5px 5px 2px rgba(228, 240, 8, 0.3); */
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    transition: all 1.2s ease-in-out !important;
}

.articulo:hover{
    /* box-shadow: 0 4px 10px rgba(17, 29, 48, .8); */
    cursor: pointer;
    background: #CAC531;  
    background: -webkit-linear-gradient(365deg, #F3F9A7, #faf20a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(365deg, #F3F9A7, #faf20a);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    transition: all 1.5s ease-in-out !important; 
}

.articulo>i{
    font-size: 20px;
    color: #fff;
    display: inline-block;
    width: 230px;
    height: 100px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px rgba(92, 102, 96, 0.46);
}
    
a.cotiza{
    width: 100px;
    border-radius: 5px;
    background-color: #312b2b;
    /* box-shadow: 5px 5px 8px rgba(0, 0, 0, .3); */
    padding: 3px;
    /* border: 1px solid #fff; */
    font-size: 15px;
    color: #ebd50f !important;
    border: 2px solid #ebd50f;
    transition: all 0.5s ease-in-out;
}

a.cotiza:hover{
    /* border: 2px solid rgb(255, 166, 0);
    color: rgb(255, 166, 0) !important;
    box-shadow: 0px 2px 10px rgb(255, 166, 0);
    transition: all 2s ease-in-out; */
     border: 2px solid #ffa260;
    color: #ffa260 !important;
    box-shadow: 0 0.9em 0.5em -0.4em #ffa260;
    transform: translateY(-0.9em);
    transition: all 0.25s ease-in-out !important;

    /* animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent; */
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0  #ebd50f}
  }


.articulo>h3{
    font-size: 20px;
    margin-top: 10px;
    color: #060606;
}

.articulo>p{
    font-weight: 100;
    color: #0b0b0b;
    margin-top: 10px;
    padding-bottom: 20px;
}

.articulo>a{
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover{
    color: #1fde82;
    transition: color .5s;
}

/* Questions */
.questions{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img{
    width: 550px;
    animation: ease-in animat 1s;
}

.textos-questions{
    margin: 0 0 0 30px;
}
.textos-questions p{
    font-weight: 100;
    margin-bottom: 14px;
    color: #5D6678;
}

.textos-questions a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    text-decoration: none;
    background-color: #1fde82;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 12px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0px 8px 32px rgba(31,222,130,.46);
}

/* RESULTS */
.results{
    background: #2560ff;
    padding-top: 30px;
}

.content-results{
    display: flex;
    justify-content: space-evenly;
}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px /* arriba y abajo */ 35px /* lados */;
    margin-bottom: 20px;
}

.numbers .number h4{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
}

.result-text{
    width: 37%;
}

.result-text h4{
    color: #fff;
    font-size: 40px;
}

.result-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.result-text a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center; 
    border-radius: 5px;
}

/* SERVICES */
.services{
    display: flex;
    justify-content: space-between;
}
.services>img{
    width: 500px;
}
.box-skills{
    margin: 30px 30px 0 0;   
}

.box-skills h4{
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i{
    color: #1fde82;
    font-size: 20px;
}

/* FOOTER */
footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter h4{
    color: #1d273d;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter img{
    width: 70%;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover{
    color: #1fde82;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #1fde82;
    border-color: #1fde82;

}

@media screen and (max-width: 1000px){
    .img_article{
        width: 165px !important;
    }
}

/* BREAKPOINTS RESPONSIVE */
@media screen and (max-width:800px) {
    .titulo{
        font-size: 45px;
    }
    .contenido-header{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 720px;
    }
    .contenido-header>img{
        width: 400px;
    }
    .textos-header{
        margin: 0;
    }


    /* INICIO */
    .inicio{
        height: 600px;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }
    .inicio>img{
        margin-top: -30px;
        padding: 0px;
        width:100px;
        height: 120px;
        border-radius: 100%;
        animation: rotate 15s infinite ease;
    }

    /* ABOUT US */
    .articulo{
        width: 45%;
    }

    /* QUESTIONS */
    .questions{
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .questions>img{
        width: 400px;
    }

    /* RESULTS */
    .content-results{
        flex-direction: column-reverse;
    }
    .result-text>A{
        margin-bottom: 60px;
    }
    .numbers{
        width: 100%;
        justify-content: space-between;
    }
    .result-text{
        width: 100%
    }

    /* SERVICES */
    .services{
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-skills{
        margin: 0 0 40px 0;
    }
    .box-skills h4{
        width: 500px;
    }
    .services>img{
        width: 400px;
    }

    /* FOOTER */
    footer{
        justify-content: space-evenly;
    }
    .partFooter{
        width: 40%;
        margin-bottom: 40px;
    }
    .img_article{
        width: 190px !important;
    }

}

@media screen and (max-width: 600px) {
    .titulo{
        font-size: 35px;
    }
    h1{
        font-size: 40px;
    }
    .contenido-header{
        height: 550px;
    }
    .nav{
        padding: 0 10px;
    }
    .contenido-header>img{
        width: 120px;
    }
    .enlaces-header{
        /* display: none; */
        position: fixed;
        background: #36D1DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #c5e55b, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(-160deg, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        /* clip-path: circle(50% at 50% 50%); */
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos{
        clip-path: circle(141.2% at 100% 0);
    }

    .nav .enlaces-header a{
        color: rgb(251, 255, 0);
    }
    .hamburguer{
        display: block;
    }

    .nav .logo img{
        width: 65px;
        margin-left: 25px;
        display: block;
    }

    /* INICIO */
    .inicio>img{
        width: 200px;
    }

    /* ABOUT US */
    .articulo{
        width: 95%;
    }

    /* QUESTIONS */
    .questions>img{
        width: 200px;
    }

    /* RESULTS */
    .numbers .number{
        width: 95%;
    }
    .result-text h4{
        font-size: 35px;
    }

    /* SERVICES */
    .services>img{
        width: 200px;
    }
    .box-skills h4{
        width: 100%;
        padding-left: 6px;
    }

    /* FOOTER */
    .partFooter{
        width: 95px;
        margin-bottom: 40px;
    }

    /* SLIDER */

    section.contenido-slider{
        margin-top: 60px;
        height: 700px;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
 
    .questions>img{
        width: 200px;
    }

    .img_article{
        width: 280px !important;
    }

   
    /* BODY */

}

/* SLIDER */
:root{
    --color-dark: #18191d;
    --color-light: #ffffff;
    --gold: #ded3cd;
}

.contenedor-slider{
    width: 100%;
    max-width: 100%;
}

.contenido-slider{
    margin-top: -9px;
    height: 600px;
    display: flex;    
    align-items: center;
}

.contenido-slider>img{
    width: 100%;
    height: 80vh;
    top: 0;
    /* border-radius: 10%; */
   /*  box-shadow: 10px 15px 20px 0px rgba(0,0,0,.6); */
    animation: ease-in animat 1.4s;
    background-color: blue;
}

.vertical-align{
    top:50%;
    /* text-align: right !important; */
}

.contenedor-slider h2{
    width: 30%;
    font-size: 50px !important;
    font-weight: 300;
    color: rgb(0, 0, 0);
    /* text-shadow: 10px 10px 10px rgba(0,0,0,.6); */
    text-shadow: 0 12px 10px rgba(0,0,0,.8);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    left: 0%;
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@keyframes rotate {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}    
}
@keyframes intro {
    0% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0; }
  }

@-webkit-keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }

/* Add image to article */
.img_article{
    /* background-image: url(../img/img_3.jpg) !important; */
    background-size: 100% 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}